

/**
 *src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Work Sans', sans-serif; // Replace with your chosen secondary font

// Global font styles
body {
  font-family: $font-primary;
}

// Optional utility classes
.font-primary {
  font-family: $font-primary;
}

.font-secondary {
  font-family: $font-secondary;
}


